<!DOCTYPE html>
<html lang="zh-CN">

<meta charset="utf-8">  
<meta http-equiv="X-UA-Compatible" content="IE=edge">  
<meta name="viewport" content="width=device-width, initial-scale=1"> 


{% load i18n %}
{% load bootstrap3 %}

{% block content %}


{% bootstrap_css %}
{% bootstrap_javascript %}


<body>
  <div class="container">
  <div class="well">
  <div class="row">
    <h1>
     <p class="text-center">
                       Database Query System
     </p>
   </h1>
  </row>
  </div>
  </div>
  <form role="form" class="form-horizontal" action="/login_view/" method="post">
           {% csrf_token %}
     <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
     <label for="username">User name:</label>

    <input type="text"   name="username" value="" id="username">
   <label >Password:</label>
  
    <input type="password" name="password" value="">
   </div> 
   </div>
     <br>
     <br>
   {% buttons %}
     <div class="col-sm-offset-5 col-sm-10">  
    <button type="submit" value="login" class="btn  btn-primary">
      {% bootstrap_icon "log-in" %} Login
    </button>
   {% endbuttons %}
   </div>
  </p>
  </form>
    <div class="col-sm-offset-10 col-sm-10">
        <form role="from" action="/help/" method="post">
             {% csrf_token %}
             {% buttons %}
                <button type="submit" value="Help" class="btn btn-info">
                {% bootstrap_icon "question-sign" %} Help
               </button>
             {% endbuttons %}
      </div>
         </form>

 {% if error %}
   <h3>
    <p class="text-center text-danger">Sorry, that's not a valid username or password</p>
   </h3>
   {% endif %}

  {% if logout %}
    <h3>
    <p class="text-center text-info">
      
      You have logout sucessfully!!!
   </p>
   </h3>
  {% endif %}

   {% if changepwdok %}
    <h3>
    <p class="text-center text-info">

      Password Changed  sucessfully!!!
   </p>
   </h3>
  {% endif %}

{% endblock %}
</body>
</html>
