<html><!--search.html-->
<head>
    <title>Search</title>
</head>
<body>
    {% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %}
    {% if error1 %}
        <p style="color: red;">Your input is no good</p>
    {% endif %}
   <form action="/result/" method="post">
        {% csrf_token %}
         <p>Message: <textarea name="m1" rows="10" cols="50"></textarea></p>
        <input type="submit" value="Commit to Database">
        <input type="reset"  value="Reset">
    </form>
</body>
</html>
