<html><!--search.html-->

<!DOCTYPE html>
<html lang="zh-CN">

<meta charset="utf-8">  
<meta http-equiv="X-UA-Compatible" content="IE=edge">  
<meta name="viewport" content="width=device-width, initial-scale=1"> 


{% load i18n %}
{% load bootstrap3 %}
{% block content %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}



<head>
    <title>Search</title>
</head>
<body> 
  
   <form role="form" action="/result/" method="post">
        {% csrf_token %}
       <div class="col-sm-offset-0 col-sm-10">
        <div class="form-group">
         <h4><span class="label label-default">DB HOST : </span> </h4>
          <select label="dbhost" name="dbchoice" >
           <option value="192.168.56.118">192.168.56.118(mysql)</option>
           <option value="172.30.16.136">172.30.16.136(oracle)</option>
           </select>
        </div>
         </div>
 
        <div class="col-sm-offset-2 col-sm-10">
        <div class="form-group">
         <p><h3>SQL TEXT :</h3> <textarea name="m1" rows="10" cols="80"></textarea></p>
         </div>
        </div>
       <div class="col-sm-offset-3 col-sm-10">
        <div class="form-group"> 
        <button type="submit" value="Execution Query" class="btn btn-success">
             {%  bootstrap_icon "OK" %} Execution Query
          </button>
        <button  type="reset"  value="Input Reset" class="btn btn-warning">
            {%  bootstrap_icon "trash" %} Input Reset
         </div>
        </div>     
      </form>
  
    <div class="form-group">
        <form action="/logout/" method="post">
             {% csrf_token %}
               {% buttons %}
                <button type="submit" value="logout" class="btn btn-danger">
                {% bootstrap_icon "remove" %} Logout
               </button>
              {% endbuttons %}
              </form>
      </div>
 <div class="col-sm-offset-2  col-sm-4">

   {% ifequal error 'forUpdate' %}
       <div class="alert alert-danger"> <p><br><br>WARNING ,DO NOT USE 'select XXX for update'!!!</p> </div>
    {% endifequal %}
    {% if dberrormsg %}
        <div class="alert alert-danger"> <p><br><br> <p><br><br>DB ERROR  : {{dberrormsg}}</p></div>
    {% endif %}

  {% ifequal error 'notValidSelect' %}
        <div class="alert alert-danger"> <p><br><br> <p><br><br>Please input a valid SQL(SELECT ONLY)!</p></div>
    {% endifequal %}


  {% ifequal error 'NULL' %}
        <div class="alert alert-danger"> <p><br><br> <p><br><br>Input is NULL!</p></div>
    {% endifequal %}    
    </div>

</body>
{% endblock content %}
</html>
